@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<div class="row m-0 ">
    <div class="col-md-6 col-lg-5 col-sm-12 bg-img-sm bg-color-green">
        <div class="col-md-10 m-auto IdentityForm h-100vh bg-color-green">
            <section>
                <h3 class="pb-4">@ViewData["Title"]</h3>
                <hr />
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p class="text-center">Thank you for your registration</p>
                    }
                    else
                    {
                        <p>Please check your email to confirm your account.</p>
                    }
                }
            </section>
        </div>
    </div><div class="col-md-6 col-lg-7 col-sm-10 p-0">
        <div class="align-middle w-100 text-center d-none d-lg-block d-md-block" style="height: 50vh; top: 25%; position: absolute;">
            <img style='image-rendering: auto; height: 100%;' class='align-content-center align-middle' alt='' src='/images/logo2.png' />
        </div>
    </div>
</div>
