/* /Shared/LoginDisplay.razor.rz.scp.css */
.nav-link[b-yizx5w89uo] {
    margin: auto;
    padding: 10px 25%;
}

.nav-account[b-yizx5w89uo] {
    float: right;
}

.dropdown-item.active[b-yizx5w89uo], .dropdown-item:active[b-yizx5w89uo], .nav-no-bg:hover[b-yizx5w89uo] {
    background-color: #ffffff !important;
}

.nav-account .btn-nav-account[b-yizx5w89uo] {
    font-size: 1.4em;
    color: #ff5722;
    background-color: #ff794e3b;
    font-weight: bold;
    height: 55px;
    border: none;
    width: 55px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-yshqfxpqoz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-yshqfxpqoz] {
    flex: 1;
}

.sidebar[b-yshqfxpqoz] {
    background-image: linear-gradient( 180deg, #1d213e 0%, #003ba0 100%);
}


.top-row[b-yshqfxpqoz] {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 0px solid #d6d5d5;
    box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
    height: 4.5rem;
}

    .top-row[b-yshqfxpqoz]  a, .top-row .btn-link[b-yshqfxpqoz] {
        white-space: nowrap;
        /*margin-left: 1.5rem;*/
    }

    .top-row a:first-child[b-yshqfxpqoz] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-yshqfxpqoz] {
        display: none;
    }

    .top-row.auth[b-yshqfxpqoz] {
        justify-content: space-between;
    }

    .top-row a[b-yshqfxpqoz], .top-row .btn-link[b-yshqfxpqoz] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yshqfxpqoz] {
        flex-direction: row;
    }

    .sidebar[b-yshqfxpqoz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yshqfxpqoz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-yshqfxpqoz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
