body {
    font-family: sans-serif;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

main {
    padding: 0 !important;
}

.row {
    margin: 0;
}

header, footer {
    display: none;
}

.container {
    max-width: unset;
    padding: 0;
}

.IdentityForm {
    padding-top: 25vh;
    color: #4b494a !important;
    height: auto;
    min-height: 100vh;
}

.btn {
    padding: .75rem 1rem;
}

.bg-color-green {
    background-color: #00be9b !important;
}

a {
    color: #ffffff;
}

    a:hover {
        color: #000000;
    }

.btn-primary {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

.page-header-title i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 22px;
    color: #fff;
    -webkit-box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
    box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
    margin-right: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .IdentityForm {
        padding: 3em;
    }

    .bg-img-sm {
        background-color: #ffffff;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
